pynput>=1.7.6
pyobjc-core; sys_platform == "darwin"
pyobjc-framework-ApplicationServices; sys_platform == "darwin"
pyobjc-framework-Cocoa; sys_platform == "darwin"
pyobjc-framework-Quartz; sys_platform == "darwin"
six>=1.16.0
